/input/images/Thumbs.db
/input-cache/org.hl7.fhir.publisher.jar
temp
template
output
*.jar

input/.DS_Store

.DS_Store

input-cache/txcache/
/FHIR-howto.xml

factories/log/

tests/

input/factories/

factories/~$patient-cases.xlsx
/.fhir/
/ig-guidance-master.zip
/fsh-generated/data/fsh-index.json
/fsh-generated/includes/fsh-link-references.md
/fsh-generated/includes/menu.xml
/fsh-generated/resources/ImplementationGuide-phenomics-exchange.json
/fsh-generated/resources/StructureDefinition-Phenotype.json
/fsh-generated/fsh-index.txt
/.idea
/input-cache/schemas/R4/fhir-single.xsd
/input-cache/schemas/R4/fhir-xhtml.xsd
/input-cache/schemas/R4/xml.xsd
/input-cache/schemas/R4/xmldsig-core-schema.xsd
/input-cache/schemas/R5/fhir-single.xsd
/input-cache/schemas/R5/fhir-xhtml.xsd
/input-cache/schemas/R5/xml.xsd
/input-cache/schemas/R5/xmldsig-core-schema.xsd
/input-cache/workgroups.xml
/fsh-generated/
